h1 {
  margin: 0;
  color: #2acee4;
  font-size: 28px;
}
h2 {
  margin: 0;
  color: #02090a;
  font-size: 22px;
}
h3 {
  margin: 0;
  color: #818d8f;
  font-size: 18px;
}
h1 > small {
  color: #ccc;
}
.panel-body {
  position: relative;
  height: 550px;
}
body {
  padding-top: 50px;
}
.image {
  position: relative;
  width: 100%;
  height: 450px;
}
