<!-- <div>
  <span>{{characters.name[0] +" / "+ characters.name [1] +" / "+ characters.name[2]}}</span>
</div>
<p *ngIf="characters.nickName">
  {{ characters.nickName}}
</p>
 -->


<div class="absolute-center">
  <div class="page-header">
    <h1>東方角色列表<small class="float-sm-right">已收录<span class="badge badge-pill badge-info">{{characters.length}}</span>
        个角色</small>
    </h1>
  </div>
  <div class="row" *ngFor="let group of groupped">
    <div class="col-lg-3" *ngFor="let character of group">
      <div class="card border-info mb-3">
        <div class="card-header">
          <h2><span class="badge badge-info float-sm-left">{{character.name[0]}}</span>
          </h2>
          <h3><span class="float-sm-right">{{character.nickName}}</span>
          </h3>
        </div>
        <div class="card-body image">
          <a [routerLink]="['/character', character.name[2] ]">
            <app-character-img [name]="character.name[2]"></app-character-img>
          </a>
        </div>
        <!-- <div class="card-footer">
          <div class="text-center">
            <a *ngFor="let work of character.works">
              <span class="badge badge-pill badge-danger float-sm-left">
                {{work}}
              </span>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
