<ul class="list-group show active">
  <li class="list-group-item">
    <strong>称号</strong>
    <span class="float-right">{{character.nickName}}</span>
  </li>
  <li class="list-group-item">
    <strong>种族</strong>
    <span class="float-right">{{character.race}}</span>
  </li>
  <li class="list-group-item">
    <strong>职业</strong>
    <span class="float-right">{{character.job}}</span>
  </li>
  <!-- <li class="list-group-item">
    <strong>Abilities</strong>
    <ul>
      <li *ngFor="let ability of pokemon.abilities">
        {{ ability }}
      </li>
    </ul>
  </li> -->
</ul>
