<!-- <p>{{workName}}</p> -->
<ul class="list-group show active">
  <li class="list-group-item">
    <strong>名字</strong>
    <span class="float-right">{{work.name}}</span>
  </li>
  <li class="list-group-item">
    <strong>发售日期</strong>
    <span class="float-right">{{work.releaseDate}}</span>
  </li>
  <li class="list-group-item">
    <strong>类型</strong>
    <span class="float-right">{{work.type}}</span>
  </li>
  <li class="list-group-item">
    <strong>描述</strong>
    <span class="float-right">{{work.description}}</span>
  </li>
  <!-- <li class="list-group-item">
    <div>
      <strong class="mb-1">能力</strong>
    </div>
    <span *ngFor="let ability of character.abilities" class="float-sm-left">{{ability}}<br /></span>
  </li> -->
</ul>
